<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, Z19rpwWeb.PostLive.FormComponent,
    id: @post.id,
    title: @post.title,
    action: @live_action,
    post: @post,
    return_to: Routes.post_show_path(@socket, :show, @post.slug) %>
<% end %>

<section class="articles">
  <div class="column is-12" id="post">
    <%= live_component @socket, Z19rpwWeb.PostLive.PostComponent, id: @post.id, post: @post, current_user: @current_user %>
  </div>
</section>
