<div>
  <ol>
    <li><%= link("forrst", to: "https://zurb.com/blog/zurb-acquires-forrst", target: "_blank") %></li>
    <li><%= link("seatgeek", to: "https://seatgeek.com", target: "_blank") %></li>
    <li><%= link("venmo", to: "https://venmo.com", target: "_blank") %></li>
    <li><%= link("grabango", to: "https://grabango.com", target: "_blank") %></li>
  </ol>
</div>
