<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>z19r - getouttahere</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PC6C2250C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3PC6C2250C');
    </script>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            ♥️ zack kitzmiller
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="z4xw3tb4r">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </nav>

    <section class="hero is-primary" style="margin-bottom: 40px;">
      &nbsp;
    </section>

    <section class="section">
      <div class="container">
        <div class="card article">
          <div class="card-content">
            <h2 class="title"><i class="fas fa-exclamation-triangle"></i> 404 not found</h2>
            <h3 class="subtitle"><a href="/">go home i guess</a></h3>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
