@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import "../node_modules/nprogress/nprogress.css";
// @import "../node_modules/highlight.js/scss/co";
@import "../node_modules/highlight.js/scss/stackoverflow-light.scss";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$modal-background-background-color: rgba($beige-light, 0.5);

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$footer-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
.article {
  margin-bottom: 3em;
}

#year-select {
  margin-bottom: 2em;
  margin-top: 0em;
}

#subtitle {
  margin-left: 12px;
}

.hero-body {
  padding-top: 0;
}

.notification {
  margin-top: -1em;
  margin-bottom: 2em;
}

.social-linkaroos {
  font-size: 48px;
  justify-content: center;
  margin: 0 auto;
}

.social-linkaroos a {
  margin: 0 20px;
}

section.idx {
  margin-bottom: 128px;
}

section#exp {
  background-color: white;
}

.media {
  margin-bottom: 48px;
}

.tag a {
  color: inherit;
}
