<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if assigns[:page_title] do %>
      <title>z19r - <%= @page_title |> raw %></title>
    <% else %>
      <title>z19r</title>
    <% end %>
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link async defer href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PC6C2250C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3PC6C2250C');
    </script>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="<%= Routes.page_path(@conn, :index) %>">
            ♥️ zack kitzmiller
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="z4xw3tb4r">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="z4xw3tb4r" class="navbar-menu">
          <div class="navbar-start">
            <%= link to: "https://www.etsy.com/listing/975575008/raspberry-pi-kubernetes-cluster-4-node?ref=z19r", class: "navbar-item", target: "_blank" do %>
              buy a&nbsp;<span class="icon"><i class="fab fa-raspberry-pi"></i></span>&nbsp;cluster
            <% end %>
            <%= link "blog", to: Routes.post_index_path(@conn, :index), class: "navbar-item" %>
            <%= link "mentorship", to: Routes.page_path(@conn, :coffee), class: "navbar-item" %>
            <a href="#" class="navbar-item" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/zkitzmiller/let-s-get-coffee?hide_gdpr_banner=1'});return false;">let's get coffee</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
            <%= if Pow.Plug.current_user(@conn) do %>
              <a class="navbar-item" href="<%= Routes.pow_registration_path(@conn, :edit) %>"><i class='fas fa-lock'></i></a>
            <% else %>
              <%= link "<i class='fas fa-unlock'></i>" |> raw, to: AuthRouteHelpers.login_to_current_path(@conn), class: "navbar-item", title: "login" %>
            <% end %>
            <a class="navbar-item" href="https://twitter.com/zackkitzmiller" title="twitter">
              <span class="icon">
                <i class="fab fa-twitter-square"></i>
              </span>
            </a>
            <a class="navbar-item" href="https://linkedin.com/in/zack-kitzmiller-3023777a/", title="linkedin">
              <span class="icon">
                <i class="fab fa-linkedin"></i>
              </span>
            </a>
            <a class="navbar-item" href="https://github.com/zackkitzmiller" title="github">
              <span class="icon">
                <i class="fab fa-github-square"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary" style="margin-bottom: 40px;">
      &nbsp;
    </section>

    <%= if get_flash(@conn, :error) do %>
      <div class="container">
        <div class="notification is-primary is-light alert alert-info" role="alert">
          <%= get_flash(@conn, :error) %>
        </div>
      </div>
    <% end %>

    <%= if get_flash(@conn, :info) do %>
      <div class="container">
        <div class="notification is-info is-light alert alert-info" role="alert">
          <%= get_flash(@conn, :info) %>
        </div>
      </div>
    <% end %>

    <%= @inner_content %>

    <section class="section">
      <div class="container">
        <div class="content has-text-left">
          <p><span class="icon has-text-primary"> <i class="fas fa-copyright"></i></span>
          <%= DateTime.utc_now.year %> zack kitzmiller. this website is built using elixir w/ pheonix, cockroachdb, memcached.
          hosted on a 10 node RPi kubernetes clusters in my apartment. load tested to 12,000 concurrent users. print your
          venmo name on the receipt printer sitting on my desk and i'll venbro you $100.
          </p>
          <p><small>served by <%= @hostname %> [<%= Application.get_env(:z19rpw, :env) %>] in
          <%= Timex.Format.Duration.Formatters.Humanized.format(
                Timex.Duration.from_microseconds(
                  System.monotonic_time(:microsecond) - @start_time)) %> &mdash; <%= node() %></small></p>
        </div>
      </div>
    </section>
  </body>
</html>
